# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout
*.cs text
*.csproj text
*.sln text
*.json text
*.yml text
*.yaml text
*.md text
*.xml text
*.txt text
*.ps1 text
*.sh text
*.config text

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf

# Binary files
*.dll binary
*.exe binary
*.pdb binary
*.nupkg binary
*.snupkg binary
